.progress-container {
    height: 3rem;
    width: 16rem;
    border-radius: 1rem;
    position: relative;
    background: #fa55a7;
}

.progress-container .progress {
    height: 100%;
    width: 0;
    border-radius: 1rem;
    position: absolute;
    background: #d30350;
    transition: width 0.4s ease;
    text-align: center;
    justify-content: center;
}

.count {
    width: 100%;
    color: #d9f8f6;
    position: absolute;
    text-align: center;
    justify-content: center;
    padding: 8px 0px;
    z-index: 1;
}
